body {
  font-family: Yekan, tahoma, sans-serif;
  /*min-height: 100vh;*/ }

.bg-blue {
  background-color: #8ed9f9; }

.bg-purple {
  background-color: #8d73a4; }

.navbar {
  min-height: 80px; }
  .navbar #navbar-brand-wraper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 42px; }
  .navbar #navbar-brand {
    padding: 0; }
    .navbar #navbar-brand img {
      height: 75px;
      width: auto; }
  .navbar .navbar-collapse {
    text-align: right;
    padding: 0 10px; }
  .navbar .navbar-nav .nav-item {
    padding: 0;
    margin-bottom: -35px; }
    .navbar .navbar-nav .nav-item .nav-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/nav_item.svg);
      width: 85px;
      height: 85px;
      color: #8d73a4;
      font-size: 14px; }

#home {
  min-height: 100vh;
  padding-top: 80px; }

.btn-light {
  color: #8d73a4; }

/*  LG up*/
@media (min-width: 768px) {
  #start-icon {
    width: 100%;
    margin-top: -50px; } }

/*  MD down */
@media (max-width: 767.98px) {
  .navbar .navbar-nav .nav-item {
    margin-bottom: -20px; }
    .navbar .navbar-nav .nav-item .nav-link {
      width: 75px;
      height: 75px; }
  #home .btn-block {
    width: 60%; }
  #start-icon {
    width: 200px;
    margin-top: -50px; } }

/*  XS */
@media (max-width: 575.98px) {
  .navbar #navbar-brand-wraper {
    top: 13px; }
  .navbar #navbar-brand img {
    height: 55px;
    width: auto; }
  .navbar .navbar-nav .nav-item {
    margin-bottom: -10px; }
    .navbar .navbar-nav .nav-item .nav-link {
      width: 65px;
      height: 65px;
      color: #8d73a4;
      font-size: 12px; } }
